body {
  display: flex;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

.l-contain {
  margin: auto;
  width: 100%;
  max-width: 1030px;
}

.l-contain,
.full-width {
  padding-left: 20px;
  padding-right: 20px;
}

.page-title {
  margin-top: 20px;
}