body {
  display: flex;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

.spaced {
  margin-top: 15px;

  &__double {
    margin-top: 30px;
  }
}

.l-contain {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 1030px;
}

.page-title {
  margin-top: 20px;
}