.is-logged-in {
  .site-header.fixed {
    top: 30px;
  }
}

.site-header {
  position: relative;
  z-index: 100;
  background-color: #FFF;
  box-shadow: 1px 1px 10px black;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .site-nav-menu { 
      line-height: 50px;
    }
  }

  .site-header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }

  .site-nav-menu {
    flex-grow: 0;
    line-height: 75px;
    transition: line-height ease .2s;
  }
}

.site-title {
  margin: 0;
}

.site-title a {
  color: #000;
  text-decoration: none;
}

.site-logo {
  flex-shrink: 1;
  display: inline-block;
}

.site-nav-menu ul.menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.site-nav-menu ul li {
  margin-left: 15px;
}

@media(max-width: $bp-mobile) {
  .site-header .l-contain .site-logo {
    margin: auto;
  }

  .site-header .l-contain li {
    line-height: 25px;
  }

  .site-nav-menu {
    display: none;
  } 

  .site-nav-menu ul {
    justify-content: center;
  }
}