.editor--sidebar-block {
  position: relative;
  padding: 5px;
  padding-top: 20px;
  background-color: #EFEFEF;
}

.editor--sidebar-block::before {
  content: 'Sidebar Block';
  position: absolute;
  top: 0;
  color: #777;
}